**/node_modules
**/.vscode
**/bin
**/build
**/.gradle/
**/.classpath
**/temp/
**/.class
**/.log
**/package-lock.json
**/.DS_Store
**/Debug
**/Release
**/.env
**/.settings/
*.key
*.pem
*.crt
!build.gradle
/.metadata/
